<form>
    <div class="form-group">
        <label for="InputEmailRegister">Email</label>
        <input type="email" class="form-control" id="InputEmailRegister" placeholder="example@gmail.com">
    </div>
    <div class="form-group">
        <label for="InputUsername">Username</label>
        <input type="username" class="form-control" id="InputUsername" placeholder="Fearme">
    </div>
    <div class="form-group">
        <label for="InputPasswordRegister">Password</label>
        <input type="password" class="form-control" id="InputPasswordRegister" placeholder="Password">
    </div>
    <button class="btn btn-primary">Create Account</button>
</form>
